/* CHATBOX STYLING */

.chatbody{
	margin: 0;
	font-family: Arial, sans-serif;
	display: flex;
	justify-content: flex-end; /* Align to the right */
}


.chatroom {
	width: 270px;
	width: 270px;
	background-color: #f8f8f8;
	border: 2px solid #ccc;
	border-radius: 10px;
	display: flex;
	flex-direction: column;
	margin: 20px;
}

.chat-header {
	background-color: #ccc;
	text-align: center;
	font-weight: bold;
	padding: 10px;
	border-radius: 10px 10px 0 0;
}

.chat-messages {
	flex: 1;
	padding: 10px;
	overflow-y: auto;
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.message {
	padding: 8px;
	border-radius: 5px;
	margin-bottom: 5px;
}

.message.user {
	background-color: #ccc;
	color: black;
	align-self: flex-start;
}

.message.self {
	background-color: #007bff;
	color: white;
	align-self: flex-end;
}

.message.system {
 background-color: #ccc;
 color: green;
 font-style: italic;
}

.chat-input {
  border-top: 2px solid #ccc;
  padding: 10px;
  border-radius: 0 0 10px 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.chat-input input {
  padding: 10px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
}

.chat-input button{
	border: 1px solid black;
	border-radius: 3px;
}

